.my-side-padding {
    padding-left: 400px !important;
    padding-right: 400px !important;
}

.my-logo-size {
    width: 200px;
    height: 120px;
}

.my-category-font {
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.my-login-form-border {
    border: solid 2px;
    border-radius: 12px;
    padding: 16px;
}
